name: Example
on:
  workflow_dispatch:
jobs:
  some-job:
    name: Some Job
    runs-on: windows-latest
    steps:
      - if: ${{ runner.os == 'Windows' }}
        name: Use GNU tar
        shell: cmd
        run: |
          echo "Adding GNU tar to PATH"
          echo C:\Program Files\Git\usr\bin >> "%GITHUB_PATH%"
    
      - run: |
          mkdir cacheFolder
          cd cacheFolder
          dd if=/dev/urandom of=file.txt count=100 bs=1048576
          cat file.txt | openssl dgst -sha256 > sha256.txt
          
      - uses: actions/cache@v3
        id: cache-test
        with:
          path: cacheFolder
          key: cache-${{ github.run_id }}
#           restore-keys: cache-

      - if: steps.cache-test.outputs.cache-hit != 'true'
        run: echo "Not hit"
